{% extends 'base.html' %}

{% block content %}
    <form method="POST" action="{% url 'main:diary_detail' %}">
        {% csrf_token %}
        <input type="text" name="input_name">
        <button class="send_btn" onclick="show_eng('True')" type="button">전송!</button>
    </form>
    <div class="div_id"></div>


    <script>
        function show_eng() {
            var input_val = document.querySelector('input[name="input_name"]');

            console.log(input_val.value);

            $.ajax({
                url: 'show_eng',
                type: 'GET',
                data: {
                    'input_val': input_val.value
                },
                dataType: 'json',
                success: function (data) {
                    console.log(data['eng'])
                    $('.div_id').html(data['eng'])
                }
            })
        }
    </script>
{% endblock %}