{% extends 'base.html' %}

{% block content %}
    <p><img src="{{ diary.diary_img.url }}"></p>
    <p>{{diary.diary_date}}</p>
    <p>{{diary.diary_content}}</p>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="diary_img" alt="diary_img" accept=".jpg,.jpeg,.png">
        <label>
            <input type="text" name="diary_content" value="{{ diary.diary_content }}">
        </label>
        <input type="submit">
    </form>
{% endblock %}