{% extends 'base.html' %}

{% block content %}

    <div class="modal">

        <div class="modal_body">
            <div class="modal_main">
                <div class="modal_img"></div>
                <div class="modal_right">
                    <div class="emobox">
                    {% load static %}
                    <img src="{% static 'image/happy.png' %}" class="emo">
                    </div>
                    <div class="modal_right_r">
                        <div class="modal_content"></div>
                        <div class="modal_date"></div>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <h1 class="diary_logo">My Diary</h1>
    <div class="diary_list">
        {% for diary in diarys %}
            <article class="diary_ctn">
                <a class="happy">
                    {% if diary.diary_img %}
                        <img src="{{ diary.diary_img.url }}" class="diary_image"
                             onclick="show([`{{ diary.diary_content }}`, `{{ diary.diary_date }}`, `{{ diary.diary_img.url }}`])">
                    {% endif %}
                </a>
            </article>
        {% endfor %}
    </div>
    <div class="diary_button">
        <h3><a href="{% url 'main:diary_create' %}">다이어리 쓰기</a></h3>
    </div>

    <script type="text/javascript">

        function show(a) {
            console.log(a);
            $(".modal_content").html(a[0]);
            $(".modal_date").html(a[1]);

            $(".modal_img").html('<img src="'+a[2]+'" class="diary_img">');
        }

        const body = document.querySelector('body');
        const modal = document.querySelector('.modal');
        const btnOpenPopup = document.querySelectorAll('.diary_image');

        for (var btn in btnOpenPopup) {
            btnOpenPopup[btn].addEventListener('click', () => {
                modal.classList.toggle('show');

                if (modal.classList.contains('show')) {
                    body.style.overflow = 'hidden';
                }
            });

            modal.addEventListener('click', (event) => {
                if (event.target === modal) {
                    modal.classList.toggle('show');

                    if (!modal.classList.contains('show')) {
                        body.style.overflow = 'auto';
                    }
                }
            });
        }

    </script>
{% endblock %}