:root {
    --header-text-color: #7A6E6E;
    --header-backgroud-color: #F8F3F3;
}

body{
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    z-index:20;
    width: 100%;
    background-color: var(--header-backgroud-color);
}

.login {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    padding-right: 330px;
}

.login > a {
    color: var(--header-text-color);
    text-decoration: none;
    font-weight: bold;
}

.header_list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.logo > a > img {
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    padding-top: 5px;
}

.diary_button {
    position: relative;
    margin: 10px;
    padding: 10px 100px;
}

.diary_button > h3 {
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 20px;
    padding-bottom: 20px;
}

.diary_button > h3 > a {
    color: var(--header-text-color);
    text-decoration: none;
    font-weight: bold;
}

.header_list_list {
    display: flex;
}

.header_list_list > a {
    color: var(--header-text-color);
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    padding: 0px 10px;
}

.header_list_list > a:hover {
    text-decoration: underline;
}