:root {
    --header-text-color: #7A6E6E;
    --header-backgroud-color: #F8F3F3;
}

body {
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 20;
    width: 100%;
    background-color: var(--header-backgroud-color);
    box-shadow: 0 4px 4px -4px #b49b9b;
    font-size: 1.25rem;
}

.login {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    padding-right: 330px;
}

.login > a {
    color: var(--header-text-color);
    text-decoration: none;
    font-weight: bold;
}

.header_list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.logo > a > img {
    width: auto;
    height: auto;
    max-width: 10rem;
    max-height: 10rem;
}

.diary_button {
    position: relative;
    margin: 10px;
    padding: 10px 100px;
}

.diary_button > h3 {
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 20px;
    padding-bottom: 20px;
}

.diary_button > h3 > a {
    color: var(--header-text-color);
    text-decoration: none;
    font-weight: bold;
}

.header_list_list {
    display: flex;
}

.header_list_list > a {
    color: var(--header-text-color);
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    padding: 0px 10px;
}

.header_list_list > a:hover {
    text-decoration: underline;
}

.buttons {
}

.buttons > .write_button {
    position: fixed;
    right: 6rem;
    bottom: 2rem;
    width: 10rem;
    height: 4rem;
    border-radius: 5rem;
    border: 0;
    margin-right: 1rem;
    font-size: 1.25rem;
}

.buttons > .write_button {
    position: fixed;
    right: 6rem;
    bottom: 2rem;
    width: 13rem;
    height: 4rem;
    border-radius: 5rem;
    border: 0;
    margin-right: 1rem;
    box-shadow: 7px 7px 7px -7px #757575;
    background-color: #fbfbfb;
    color: black;
}

.buttons > .write_button:hover {
    background-color: #f8f3f3;
    color: #c44e4e;
}

.buttons > .chat_button {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 3rem;
    border: 0;
    text-align: center;
    box-shadow: 7px 7px 7px -7px #757575;
    background-color: #fbfbfb;
}

.buttons > .chat_button > img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 2.5rem;
    border: 0;
}
.buttons > .chat_button:hover {
    background-color: #ff9595;
}