.chat {
    width: 1000px;
    align-items: center;
    margin: 20px auto;
}

.chatbox {
    display: flex;
    justify-content: center;
    width: 900px;
    height: 600px;
    padding: 10px 0px;
    margin: auto;
    background-color: #f6eff2;
    overflow-y: auto;
    overflow-x: hidden;
}

.chatQ {
    width: 100%;
}

.chatbox::-webkit-scrollbar {
    display: none;
}

.chatfooter {
    width: 1000px;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    position: fixed;
    bottom: 0;
}

.go1 {
    margin-right: 1rem;

}

.go2 > button {
    border: 0;
    outline: 0;
    background-color: transparent;
}

.typet {
    border: 1px solid #C9C8C8;
    font-size: 20px;
    color: #C9C8C8;
    width: 73rem;
    height: 4rem;
    border-radius: 2rem;
    margin-right: 1rem;
    padding: 0rem 1rem;
}





