{% extends 'base.html' %}

{% block content %}

    <div class='bas_whole'>
        <div class='bas_head'>
            <h1 class="bas_title"> 장바구니 </h1>
            <hr class='bas_line'>
        </div>
        <div class='bas_body'>
            <h3 class='bas_sub_title'>Friend POPO 배송상품</h3>
            <div class='bas_table'>
                <div class="bas_table_body">
                    <table class='bas_table_type'>
                        <thead>
                        <tr>
                            <th colspan="2">상품정보</th>
                            <th>판매가</th>
                            <th>수량</th>
                            <th>배송정보</th>
                        </tr>
                        </thead>
                        <tbody class="bas_table_body">
                            <tr>
                                <td colspan="2">죽여주는 상품</td>
                                <td>죽여주는 가격</td>
                                <td>죽여주는 수량</td>
                                <td>죽여주는 배송정보</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class='bas_btn_box2'>
                <button class='bas_btn2'>
                    <a class='bas_select_order'>주문하기</a>
                </button>
            </div>
        </div>
    </div>

{% endblock %}