{% extends 'base.html' %}

{% block content %}


    <h1 class="poposhop">POPO SHOP</h1>
    <hr style="width:1230px; height: 0.3px;">
    <div class="shop_body">
        {% for product, price in product %}
            <a href="{% url 'main:shop_detail' product.id %}">
                <div class="shop_body_body">
                    <div class="shop_body_product_img">
                        {% load static %}
                        <img src="{{ product.product_img.url }}" class="product_img">
                    </div>
                    <div class="shop_body_product_name">
                        {{ product.product_name }}
                    </div>
                    <div class="shop_body_product_info">
                        {{ product.product_info }}
                    </div>
                    <div class="shop_body_product_price">
                        {% load humanize %}
                        {{ price | intcomma }}원
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>


{% endblock %}