{% extends 'base.html' %}

{% block content %}



    <h1 class="poposhop">POPO SHOP</h1>
    <hr style="width:1230px; height: 0.3px;">

    <div class="product_detail">
        <div class="product_detail_body">
            {% for productoption in productoption %}
                <div class="product_detail_body_img">
                    {% load static %}
                    <img src="{{ productoption.product.product_img.url }}">
                </div>
                <div class="product_detail_body_content">
                    <div class="product_detail_body_content_name">
                        {{ productoption.product.product_name }}
                    </div>
                    <div class="product_detail_body_content_price">
                        {% load humanize %}
                        {{ productoption.option_price | intcomma }}원
                    </div>

                    <div class="product_detail_body_content_deliver_info">
                        <div class="product_detail_body_content_deliver_info_title">배송정보</div>
                        <div class="product_detail_body_content_deliver_info_content">일반배송 | 2,500원 (20,000원 이상 무료배송)
                        </div>
                    </div>
                    <hr>
                    <form name="form" method="get">
                        <div class="product_detail_body_content_count">
                            <div class="product_detail_body_content_count_content">
                                <p>구매수량</p>
                            </div>
                            <div class="product_detail_body_content_count_btn">
                                <input type=hidden name="sell_price" value="{{ productoption.option_price }}">
                                <input type="button" value=" - " onclick="del();">
                                <input type="text" name="amount" value="1" size="3" onchange="change();">
                                <input type="button" value=" + " onclick="add();">
                                <br>
                            </div>
                        </div>
                        <div class="total_price">
                            <span class="total_price_sum">상품금액 합계 :</span>
                            <span><input type="text" name="sum" size="3" readonly class="sum_price"></span>
                            <span class="total_price_sum">원</span>
                        </div>
                    </form>
                    <hr>
                    <div class="last_btn">
                            <span class="last_btn_1">
                                장바구니
                            </span>
                        <span class="last_btn_2">
                                바로구매
                            </span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <body onload="init();">
    <script>

        let sell_price = document.form.sell_price.value;
        let amount = document.form.amount.value;
        change();

        function add() {
            hm = document.form.amount;
            sum = document.form.sum;
            hm.value++;
            sum.value = parseInt(hm.value) * sell_price;
        }

        function del() {
            hm = document.form.amount;
            sum = document.form.sum;
            if (hm.value > 1) {
                hm.value--;
                sum.value = parseInt(hm.value) * sell_price;
            }
        }

        function change() {
            hm = document.form.amount;
            sum = document.form.sum;

            if (hm.value < 0) {
                hm.value = 0;
            }
            sum.value = parseInt(hm.value) * sell_price;
        }
    </script>

{% endblock %}
