{% extends 'base.html' %}

{% block content %}



    <h1 class="poposhop">POPO SHOP</h1>
    <hr style="width:1230px; height: 0.3px; background-color: #C9C8C8; border: 0.2px solid #C9C8C8;">
    <div class="product_detail">
        <div class="product_detail_body">
            <div class="product_detail_body_img">
                {% load static %}
                <img src="{{ product.product_img.url }}">
            </div>
            <div class="product_detail_body_content">
                <div class="product_detail_body_content_name">
                    {{ product.product_name }}
                </div>
                <div class="product_detail_body_content_price">
                    {% load humanize %}
                    {{ price | intcomma }}원
                </div>
                <div class="product_detail_body_content_deliver_info">
                    <div class="product_detail_body_content_deliver_info_title">배송정보</div>
                    <div class="product_detail_body_content_deliver_info_content">일반배송 | 2,500원 (20,000원 이상 무료배송)
                    </div>
                </div>
                <hr style="background-color: #C9C8C8; border: 0.2px solid #C9C8C8;">

                <!-- 옵션 목록 -->
                <div class="product_detail_body_content_select">
                    <a href="#" onclick="creatDiv()" class="product_detail_body_content_select_btn">
                        <p>상품을 선택해주세요</p>
                        <p class="arrow">▾</p>
                    </a>
                    <ul class="product_detail_body_content_select_list">
                        {% for product_option in product_option %}
                            <li class="list_type">
                                <a class="list_type_a" href="#"
                                   onclick="show_option([`{{ product_option.option_name }}`, `{{ product_option.option_price }}`, `{{ product_option.id }}`])">
                                    <div class="list_type_a_name">
                                        {{ product_option.option_name }}
                                    </div>
                                    <div class="list_type_a_price">
                                        {% load humanize %}
                                        {{ product_option.option_price | intcomma }}원
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="temp"></div>
                <div class="total_sum">0원</div>
                <hr style="background-color: var(--price-color); border: 0.2px solid var(--price-color);">

                <div class="last_btn">
                    <span class="last_btn_1">
                        <a href="{% url 'main:basket' product.id %}">장바구니</a>
                    </span>
                    <span class="last_btn_2">
                        <a>바로구매</a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <script>
        // 변수 선언 부분
        let option_list = '';
        let option_selected = {};
        let option_price = {};
        let total_sum = 0;

        // 옵션 선택 버튼 (보이기 - 안보이기)
        $(document).on("click", ".product_detail_body_content_select_btn", function () {
            if ($(this).next().css("display") === "none") {
                $(this).next().show();
            } else {
                $(this).next().hide();
            }
        });

        // 옵션 선택시 옵션 보이기 기능
        function show_option(a) {

            if (!option_selected[a[2]]) {
                option_selected[a[2]] = 1;
            }

            if (!option_price[a[2]]) {
                option_price[a[2]] = a[1];
            }
            console.log(option_selected)
            sum();
            option_list += '<div class="price_plus">' + '<div class="price_plus_product_name">' + a[0]
                + '<div class="option_select_price">'+ a[1] + '원' + '</div>' + '</div>'
                + '<div class="price_plus_nums">'
                + '<button onclick="del(' + a[2] + ')" class="btn_minus">-</button>'
                + '<div class="price_plus_product_price" id="count'+a[2]+'">' + option_selected[a[2]] + '</div>'
                + '<button onclick="add(' + a[2] + ')" class="btn_plus">+</button>' + '</div>' + '</div>'

            $('.temp').html(option_list);

        }

        function add(a) {
            option_selected[a] += 1
            console.log(option_selected)
            $(`#count`+a).html(option_selected[a])
            sum();
        }

        function del(a) {
            if (option_selected[a] > 1) {
                option_selected[a] -= 1
            }
            console.log(option_selected)
            $(`#count`+a).html(option_selected[a])
            sum();
        }

        function sum() {
            let total_sum = 0;
            for (var i in option_selected) {
                total_sum += option_selected[i] * option_price[i]
            }
            console.log(option_selected)
            console.log(total_sum)
            $('.total_sum').html(total_sum+'원');
        }

    </script>

{% endblock %}
