<!doctype html>
<html lang="ko">
<head>
    {% include 'head.html' %}
</head>
<body>

{% include 'header.html' %}

{% load static %}

<div class="chat">
    <div class="chatbox">
        <div class="chatQ"></div>
        <div class="chatA"></div>
    </div>
    <div class="chatfooter">
        <div class="go1">
            {% load static %}
            <img src="{% static 'image/go1.png' %}">
        </div>
        <input id="chattext" class="typet" placeholder="Type text" onclick=this.value="">
        <div class="go2">
            <button id="sendbtn" onclick="sendAsk()"><img src="{% static 'image/go2.png' %}"></button>
        </div>
    </div>
</div>

<script>

    let addtext = "";
    let bottext = "";

    function sendAsk() {
        ctext = document.getElementById("chattext").value;
        console.log(ctext)
        if (ctext == "") {
            document.getElementById("chattext").focus();
            return false;
        }


        addtext += "<div style='margin: 3rem 5rem; text-align: right;'>" +
            "<span style='background-color: #FFFAFA; padding: 10px 15px; border-radius: 10px; font-size: 1.5rem;'>" + ctext + "</span></div>"
        addtext += "<div style='margin: 3rem 5rem; text-align: left;'>" +
            "<span style='background-color: #FFFAFA; padding: 10px 15px; border-radius: 10px; font-size: 1.5rem;'>" + "나는 포포다" + "</span></div>"
        $(".chatQ").html(addtext);
    }

</script>

</body>
</html>