{% extends 'base.html' %}

{% block content %}

    <div class="profile">
        <div class="profile_header">
            <div class="profile_header_img">
                <img src="{{ user.user_profile.url }}">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="profile_header_img_btn1">
                        <label class="profile_img_label" for="profile_update_file">이미지 업로드</label>
                        <input type="file" id="profile_update_file" name="profile_img" alt="diary_img"
                               accept=".jpg,.jpeg,.png" style="display: none">
                    </div>
                    <div class="profile_header_img_btn2">
                        <input type="submit" value="이미지 제거">
                    </div>
                </form>
            </div>
            <div class="profile_header_names">
                <div class="username">{{ user.username }}</div>
                <div class="nickname">{{ user.user_nickname }}</div>
                <div class="date">
                    <div class="regi_date_title">가입 날짜</div>
                    <div class="regi_date">{{ user.user_regi_date.year }}년 {{ user.user_regi_date.month }}월 {{ user.user_regi_date.day }}일</div>
                </div>
            </div>
        </div>
        <div class="profile_body">
            <div class="qna">
                <div class="qna_title">
                    <h1>QnA</h1>
                    <div class="qna_content">
                        <p>QnA 게시판에 작성한 질문 및 답변을 확인할 수 있습니다.</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="social_info">
                <div class="social_info_title">
                    <h1>소셜 정보</h1>
                    <div class="social_info_content">
                        <p>게시판 및 다이어리에서 보여지는 프로필에 공개되는 소셜 정보입니다.</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="withdrawal">
                <div class="withdrawal_title">
                    <h1>회원 탈퇴</h1>
                    <div class="withdrawal_content">
                        <p>탈퇴 시 작성하신 포스트 및 댓글, 다이어리가 모두 삭제되며 복구되지 않습니다.</p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}