{% extends 'base.html' %}

{% block content %}

    <div class="signup_body">
        <h1 class="signup_body_head">환영합니다!</h1>
        <div class="description">나머지 회원 정보를 입력해주세요.</div>
        {% if user.is_authenticated %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="signup_body_body">
                    <div class="signup_body_body_email">
                        <div class="signup_body_body_email_title">이메일</div>
                        <input type="email" name="user_email" placeholder="이메일 입력">
                        <hr>
                    </div>
                    <div class="signup_body_body_nickname">
                        <div class="signup_body_body_nickname_title">닉네임</div>
                        <input type="text" name="user_nickname" placeholder="닉네임" maxlength="10" minlength="2" required>
                        <hr>
                    </div>
                    <div class="signup_body_body_profile_img">
                        <label class="input_file_button" for="input-file">업로드</label>
                        <input type="file" id="input-file" name="user_profile" placeholder="프로필 이미지" accept=".jpg,.jpeg,.png" style="display: none">
                    </div>
                    <div>
                        <input type="hidden" name="user_signup_completed" value="True">
                    </div>
                    <div class="signup_body_body_btn">
                    <input type="submit">
                    </div>
                </div>
            </form>
        {% endif %}
    </div>

{% endblock %}