{% extends 'base.html' %}

{% block content %}

    {% load static %}

    <!-- 모달창 -->
    <div class="board_modal">
        <div class="board_modal_body"></div>
    </div>

    <!-- 감정 선택 -->
    <div style="height: 3rem"></div>
    <div class="board_emotion">
        <button id="emo_btn1" type="button" role="button" class="btn_theme1" aria-pressed="false">
            <img src="{% static 'image/popo_yellow.png' %}">
        </button>
        <button id="emo_btn2" type="button" role="button" class="btn_theme1" aria-pressed="false">
            <img src="{% static 'image/popo_purple.png' %}">
        </button>
        <button id="emo_btn3" type="button" role="button" class="btn_theme1" aria-pressed="false">
            <img src="{% static 'image/popo_blue.png' %}">
        </button>
        <button id="emo_btn4" type="button" role="button" class="btn_theme1" aria-pressed="false">
            <img src="{% static 'image/popo_red.png' %}">
        </button>
        <button id="emo_btn5" type="button" role="button" class="btn_theme1" aria-pressed="false">
            <img src="{% static 'image/popo_green.png' %}">
        </button>
        <button id="emo_btn6" type="button" role="button" class="btn_theme1" aria-pressed="false">
            <img src="{% static 'image/popo_orange.png' %}">
        </button>
    </div>

    <div class="board_body">
        {% for diary in diarys %}
            <div class="board_body_body">
        <span class="board_body_body_left">
            <div class="board_body_body_head">
            <img style="width: 80px; height: 80px" src="{% static 'image/popo_orange.png' %}">
            <span class="board_nick"> 다연짜응 {{ diary.diary_date }}</span>
            </div>
            <div class="board_body_content">
                {{ diary.diary_content|truncatechars:100 }}
            </div>
        </span>
                <span class='board_body_img'>
            <a href="#" class="image_click"
               onclick="show([
                       `{{ diary.diary_img.url }}`,
                       `{{ diary.user.user_image.user_profile.url }}`,
                       `{{ diary.user.user_nickname }}`,
                       `{{ diary.diary_share_date }}`,
                       `{{ diary.diary_content }}`
                       ])">
                <img style="width: 200px; height: 200px" src="{{ diary.diary_img.url }}"></a>
        </span>
            </div>
        {% endfor %}
    </div>
    <script src="{% static 'js/board.js' %}"></script>

{% endblock %}