<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>마음을 여는 다이어리, 포포 다이어리</title>
{% load static %}
<link href="{% static 'image/popo.png' %}" rel="shortcut icon" type="image/x-icon">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/diary_style.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/diary_create.css' %}">
<link rel="stylesheet" href="{% static 'css/diary_detail.css' %}">
<link rel="stylesheet" href="{% static 'css/chatbot.css' %}">
<link rel="stylesheet" href="{% static 'css/diary_show.css' %}">
<link rel="stylesheet" href="{% static 'css/board.css' %}">
<link rel="stylesheet" href="{% static 'css/qna.css' %}">
<link rel="stylesheet" href="{% static 'css/qna_create.css' %}">
<link rel="stylesheet" href="{% static 'css/qna_detail.css' %}">
<link rel="stylesheet" href="{% static 'css/qna_update.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
<link rel="stylesheet" href="{% static 'css/account.css' %}">
<link rel="stylesheet" href="{% static 'css/mypage.css' %}">
<link rel="stylesheet" href="{% static 'css/show.css' %}">
<link rel="stylesheet" href="{% static 'css/show_detail.css' %}">
<link rel="stylesheet" href="{% static 'css/basket.css' %}">
<link rel="stylesheet" href="{% static 'css/order_complete.css' %}">
<link rel="stylesheet" href="{% static 'css/order_history.css' %}">
<link rel="stylesheet" href="{% static 'css/order_payment.css' %}">

