body {
    margin: 0;
}

.diary_logo {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    color: var(--header-text-color);
}

.diary_list {
    width: 1225px;
    text-align: center;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.diary_list a {
    float: left;
}

.diary_image {
    width: 225px;
    height: 225px;
    object-fit: cover;
    padding: 10px;
    opacity: 0.4;
    filter: alpha(opacity=50);
}

.diary_image:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}