.qna_title {
    /*display: flex;*/
    /*justify-content: left;*/

    /*margin-top: 80px;*/
    /*margin-bottom: 30px;*/


    /*font-family: 'Roboto';*/
    /*font-style: normal;*/
    /*font-weight: 700;*/
    /*font-size: 44px;*/
    /*line-height: 52px;*/
    width: 1500px;
    margin: 50px auto 10px auto;
    text-align: left;
    color: var(--header-text-color);
    padding-top: 30px;
    padding-bottom: 15px;
    /*padding-left: 0px;*/
}

.search_bar {
    display: flex;
    justify-content: right;

    margin-right: 210px;
    margin-bottom: 30px;
    margin-top: 50px;
}

.search_bar_body {
    height: 40px;
    width: 400px;
    border: 1px solid #C9C8C8;

    /*margin-right: 111px;*/
    /*margin-bottom: 30px;*/
}

.search_bar_body > input {
    font-size: 16px;
    width: 325px;
    padding: 10px;
    border: 0px;
    outline: none;
    float: left;
}

.search_bar_body > button {
    width: 50px;
    height: 100%;
    border: 0px;
    background: #F8F3F3;
    outline: none;
    float: right;
    color: black;
}

.qna_table {
    display: flex;
    justify-content: center;
}

table.table_type {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border: 1px solid #ccc;
    margin: 20px 10px;

}

table.table_type thead {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: #F4EAEA;
}

table.table_type thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: black;
}

table.table_type tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #fcf1f4;
}

table.table_type td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

.qna_btn_box {
    display: flex;
    justify-content: right;
}

.qna_btn {
    box-sizing: border-box;
    width: 120px;
    height: 50px;
    background: #F8F3F3;
    border-radius: 15px;
    border: none;

    margin-right: 200px;
    margin-bottom: 100px;
    margin-top: 50px;
}

.qna_write {
    display: flex;
    justify-content: center;


    font-weight: bold;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}
