{% extends 'base.html' %}

{% block content %}
    <div class="qna_write_form">
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <table>
                <div class="siu">
                    <tr>
                        <td>제목</td>
                        <td><input class='qna_write_title' type="text" name="qna_title" required></td>
                    </tr>
                </div>
                <tr>
                    <td>내용</td>
                    <td><input class='qna_write_content' type="text" name="qna_content" required></td>
                </tr>
                <tr>
                    <td>첨부파일</td>
                    <td><input type="file" name="qna_img" alt="qna_img" accept=".jpg,.jpeg,.png"></td>
                </tr>

            </table>
            <div class='qna_write_foot'>
                <tr>
                    <td>
                        <select class='qna_select' name="qna_status">
                            <option value="False">관리자 아님</option>
                            <option value="True">관리자 권한</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><input class='qna_write_submit' type="submit"></td>
                </tr>
            </div>
        </form>
    </div>



{% endblock %}